* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'MergeBlack', sans-serif;
  background-color: #fff5f5;
  color: #333;
}
:root {
  --primary-red: #e31837;
  --secondary-yellow: #f6c100;
  --light-bg: #fff5f5;
  --text-dark: #333;
}
