PORT=4001
MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
REDIRECT_URL=https://ingenuous-absolutely-cletus.ngrok-free.dev/api/momo/callback
IPN_URL=https://ingenuous-absolutely-cletus.ngrok-free.dev/api/momo/callback
SUPABASE_URL=https://uuxtbxkgnktfcbdevbmx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1eHRieGtnbmt0ZmNiZGV2Ym14Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDYyNjg2NywiZXhwIjoyMDc2MjAyODY3fQ.NicRzHlesg4PAtgMsNf-uDNVlIfpWAd6jmNmgxVkTgA